* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #292524;
   color: #fafaf9;
   font-family: "Sono", monospace, system-ui;
   padding: 40px 60px; 
}

/* DEFAULT BUTTON */
.btn {
   font-family: "Coiny", sans-serif;
   line-height: 1;
   font-size: 17px;
   padding: 7px 10px 4px;
   border: none;
   border-radius: 100px;
   text-transform: uppercase;
   color: inherit;
   transition: 0.3s;
}

.btn:hover {
   transform: scale(110%) rotate(-2deg);
}
/* End of DEFAULT BUTTON */

.container {
   /* min-width: 700px ; */
   max-width: 1500px;
   margin: 0 auto;
   /* padding: 0 20px; */
}

/* HEADER */
header {
   display: flex;
   width: 100%;
   align-items: center;
   margin-bottom: 40px;
}

.h1-title {
   font-size: 42px;
   text-transform: uppercase;
   font-family: "Coiny", system-ui;
   font-weight: 400;
   font-style: normal;
   margin: 0 20px;
}

/* home page logo */
.logo {
   height: 68px;
   width: 68px;
}

/* share post button */
.btn-share-fact {
   margin-left: auto;
   font-size: 30px;
   padding: 8px 20px 3px;
   background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308 );
}
/* End of HEADER */

/* FORM */
.fact-form {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   gap: 10px;
   padding: 20px 40px;
   background-color: #363433;
   margin-bottom: 40px;
   border-radius: 10px;
}

.fact-form-group input {
   background-color: #78716c;
   flex-wrap: nowrap;
   border: none;
   border-radius: 20px;
   padding: 10px;
   color: inherit;
   font-family: inherit;
   font-size: 17px;
}

.fact-form-group input {
   flex-grow: 1;
}

.btn-post {
   padding: 12px 20px 8px;
   font-size: 20px;
   background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308 );
}

/* End of FORM */

/* MAIN CONTENT */

.main-layout {
   display: grid;
   grid-template-columns: 200px 1fr;
   gap: 30px;
}

/* Aside Block */
.categories {
   font-size: 17px;
}

ul {
   list-style: none;
}

.categories li .btn{
   width: 100%;
   margin-bottom: 10px;
}

.categories li .btn-all {
   margin-bottom: 15px;
   background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308 );
}

.btn-technology {
   background-color: #3b82f6;
}

.btn-science {
   background-color: #16a34a;
}

.btn-finance {
   background-color: #ef4444;
}

.btn-society {
   background-color: #eab308;
}

.btn-entertainment {
   background-color: #db2777;
}

.btn-health {
   background-color: #14b8a6;
}

.btn-history { 
   background-color: #f97316;
}

.btn-news {
   background-color: #8b5cf6;
}

/* End of Aside Block */

/* Section Block */

.fact {
   display: flex;
   align-items: center;
   background-color: #363433;
   font-size: 17px;
   line-height: 1.4;
   font-weight: 400;
   font-style: normal;
   margin-bottom: 16px;
   padding: 16px 24px;
   letter-spacing: -1px;
   
   border-radius: 10px;
}

.tag {
   text-transform: uppercase;
   font-size: 14px;
   font-family: "Coiny", system-ui;
   font-weight: 400;
   font-style: normal;
   padding: 6px 5px 3px 5px;
   border-radius: 5px;
}

.vote-group {
   gap: 5px;
   margin-left: auto;
}

.vote {
   background-color: #78716c;
   font-family: "Sono", monospace, system-ui;
   font-size: 17px;
   font-weight: 600;
   flex-shrink: 1;
   padding: 5px;
   color: inherit;
   cursor: pointer;
}

.vote:hover {
   background-color: #363433;
   transition: .3s;
}

/* End of section */

/* LINKS */
.source:link,
.source:visited {
   color: #a8a29e;
   text-decoration: none;
   margin-left: 12px;
   transition: 0.3s;
}

.source:hover, 
.source:active {
   color: #3b82f6;
}

/* screen width below 1000px */
@media (max-width: 1100px) {
   .fact-form-group input {
      gap: 10px;
      flex-wrap: nowrap;
   }

   
}

@media (max-width: 1000px) {
   .fact-form-group input {
   }


   
}


