* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #292524;
   color: #fafaf9;
   font-family: "Sono", monospace, system-ui;
   padding: 40px 60px; 
}

header {
   display: flex;
   align-items: center;
   margin-bottom: 40px;
}

.logo {
   height: 68px;
   width: 68px;
}

header .share-post-btn {
   margin-left: auto;
   padding: 5px 20px;
   border-radius: 20px;
}

.fun-fact {
   font-size: 42px;
   text-transform: uppercase;
   font-family: "Coiny", system-ui;
   font-weight: 400;
   font-style: normal;
   margin: 0 20px;
}

.fact-form {
   text-align: center;
   background-color: #57534e;
   margin-bottom: 40px;
   padding: 16px 40px;
}

.fact {
   background-color: #57534e;
   font-size: 16px;
   line-height: 1.4;
   font-weight: 400;
   font-style: normal;
   margin-bottom: 16px;
   padding: 16px 24px;
   letter-spacing: -1px;

   display: flex;
   justify-content:flex-start;
   align-items: center;
   border-radius: 10px;
}

.tag {
   text-transform: uppercase;
   font-size: 14px;
   font-family: "Coiny", system-ui;
   font-weight: 400;
   font-style: normal;
   padding: 6px 5px 3px 5px;
   border-radius: 5px;
}

.vote-group-btn {
   display: flex;
   margin-left: auto;
}

.vote-group-btn button {
   display: flex;
   padding: 2px;
   margin-left: 3px;
}

ul {
   list-style: none;
}

.catergory-btn li button {
   display: flex;
   flex-direction: column;
   margin-bottom: 5px;
   padding: 3px 20px;
   border-radius: 20px;
}

/* INDEX PAGE LAYOUT */

.container {
   /* min-width: 700px ; */
   max-width: 1500px;
   margin: 0 auto;
   /* padding: 0 20px; */
}

.main-layout {
   display: grid;

   grid-template-columns: 250px 1fr;
   gap: 35px;
}