* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #292524;
   color: #fafaf9;
   font-family: "Sono", monospace, system-ui;
   padding: 40px 60px; 
}

.container {
   /* min-width: 700px ; */
   max-width: 1500px;
   margin: 0 auto;
   /* padding: 0 20px; */
}

/* Home page header block */
header {
   display: flex;
   width: 100%;
   align-items: center;
   margin-bottom: 40px;
}

.fun-fact {
   font-size: 42px;
   text-transform: uppercase;
   font-family: "Coiny", system-ui;
   font-weight: 400;
   font-style: normal;
   margin: 0 20px;
}

/* home page logo */
.logo {
   height: 68px;
   width: 68px;
}

/* share post button */
.share-fact {
   margin-left: auto;
   font-size: 20px;
   background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308 );
}
/* End of Home page header block */

.btn {
   font-family: "Coiny", sans-serif;
   padding: 5px 10px 2px;
   border-style: none;
   border-radius: 20px;
   text-transform: uppercase;
   
}

/* FORM */
.fact-form {
   text-align: center;
   background-color: #57534e;
   margin-bottom: 40px;
   padding: 16px 40px;
}

.btn-post {
   padding: 4px 20px 2px;
   font-size: 20px;
   background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308 );
}
/* End of FORM */

/* MAIN */

.main-layout {
   display: grid;
   grid-template-columns: 200px 1fr;
   gap: 30px;
}

/* Aside Block */
.catergory {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   font-size: 17px;
}

ul {
   list-style: none;
}

.catergory li {
   margin-bottom: 10px;
}

.catergory .btn {
   width: 100%;
}

.catergory li .btn-all {
   margin-bottom: 5px;
   background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308 );
}

.btn-technology {
   background-color: #3b82f6;
}

.btn-science {
   background-color: #16a34a;
}

.btn-finance {
   background-color: #ef4444;
}

.btn-society {
   background-color: #eab308;
}

.btn-entertainment {
   background-color: #db2777;
}

.btn-health {
   background-color: #14b8a6;
}

.btn-history { 
   background-color: #f97316;
}

.btn-news {
   background-color: #8b5cf6;
}

/* End of Aside Block */

/* Section Block */

.fact {
   background-color: #45423e;
   font-size: 16px;
   line-height: 1.4;
   font-weight: 400;
   font-style: normal;
   margin-bottom: 16px;
   padding: 16px 24px;
   letter-spacing: -1px;

   display: flex;
   align-items: center;
   border-radius: 10px;
}

.tag {
   text-transform: uppercase;
   font-size: 14px;
   font-family: "Coiny", system-ui;
   font-weight: 400;
   font-style: normal;
   padding: 6px 5px 3px 5px;
   border-radius: 5px;
}

.vote-group {
   display: flex;
   flex-direction: row;
   gap: 5px;
   margin-left: auto;
}

.vote {
   background-color: #78716c;
   font-family: "Sono", monospace, system-ui;
   font-size: 16pm;
   font-weight: 600;
   width: 60px;
   padding: 3px;
   color: inherit;
   cursor: pointer;
}

.vote:hover {
   background-color: #363433;
   transition: .3s;
}

/* End of section */

/* LINKS */
.source:link,
.source:visited {
   color: #a8a29e;
   text-decoration: none;
   margin-left: 12px;
   transition: 0.3s;
}

.source:hover, 
.source:active {
   color: #3b82f6;
}


